#!/bin/sh

mkdir -p build ; cp -R choices build/
rm -r choices

proj_dir=`pwd`
readmeext={{readmeext}}{{^readmeext}}.rst{{/readmeext}}
license={{license}}{{^license}}Apache-2.0{{/license}}
buildtool={{buildtool}}{{^buildtool}}stack{{/buildtool}}
testfrwk={{testfrwk}}{{^testfrwk}}test-framework{{/testfrwk}}
executable={{executable}}{{^executable}}no{{/executable}}
ffilib={{ffilib}}{{^ffilib}}none{{/ffilib}}

category={{category}}{{^category}}Data{{/category}}
parentcap={{parentcap}}{{^parentcap}}Introhs{{/parentcap}}

cp build/choices/readme/README${readmeext} README${readmeext}
if [ -d build/choices/_parent_readme ] ; then
    cp build/choices/_parent_readme/README${readmeext} \
	    build/choices/_parent_init/README${readmeext} ;
fi

if [ ! 'Not open source' = "${license}" ] ; then
    cp build/choices/license/LICENSE_${license} LICENSE ;
fi

if [ -d build/choices/build_tool ] && [ ! 'stack' = "${buildtool}" ] ; then
	cp -R build/choices/build_tool/${buildtool}/* . ;
elif [ -d build/choices/build_tool ] ; then # default: stack
	cp -R build/choices/build_tool/stack/* . ;
fi

if [ -d build/choices/testfrwk ] && [ ! "test-framework" = "${testfrwk}" ] ; then
	cp -R build/choices/testfrwk/${testfrwk}/* . ;
elif [ -d build/choices/testfrwk ] ; then # default: test-framework
	cp -R build/choices/testfrwk/test-framework/* . ;
fi

if [ -d src ] && [ ! "yes" = "${executable}" ] ; then
    rm src/${category}/${parentcap}/Main.* ;
fi

if [ -d build/choices/ffi_lib ] && [ '' = "$(echo "${ffilib}" | grep -E 'none')" ] ; then
	cp -R build/choices/ffi_lib/${ffilib}/* src/${category}/${parentcap}/ ;
fi

if [ -d '../_templates' ] ; then
	skeletondir={{skeletondir}}{{^skeletondir}}$HOME/Templates/mustache/skeleton-hs{{/skeletondir}} ;
	skel_pardir=`dirname ${skeletondir}` ;
	rm -fr ../_templates/mustache/`basename ${skeletondir}` ;
	mkdir -p ../_templates/mustache ;
	cp -R ${skel_pardir}/render_mustache.* ${skeletondir} ../_templates/mustache/ ;
fi
